<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
    <div id="id" v-cloak>
        {{ vueId }}

        <input v-model="vueId"/>
        <br>
        //if else in vue js
        <div v-if="isVisible" class="box"></div>
        <div v-else-if="isVisible2" class="box2"></div>
        <div v-else class="box3"></div>

<!--        v-cloak chan load css-->
    </div>
    <hr>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let app= Vue.createApp({
            data: function (){
                return {
                    vueId: 'Hello Dinlo this is Vue 3',
                    vueClass: 'Vue 3 in class',
                    isVisible: false,
                    isVisible2: true,

                }
            }
        })

        app.mount('#id');
    </script>
</body>
<style>
    .box{
        background-color: aqua;
        height: 200px;
        width: 200px;
    }
    .box2{
        background-color: blue;
        height: 200px;
        width: 200px;
    }
    .box3{
        background-color: chartreuse;
        height: 200px;
        width: 200px;
    }
    [v-cloak]{
        display: none;
    }
</style>
</html>